@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

header {
    background-color: #FF900E1A;
    ;
}

.menubar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
}

.menu {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    padding-right: 240px;
    color: #424242;
    ;
}

.title {
    font-weight: 700;
    font-size: 45px;
    padding-left: 228px;
    color: #131313;
}

header section h1 {
    font-weight: 700;
    font-size: 64px;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 205px;
}

.banner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-text p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-top: 30px;
    margin-bottom: 33px;
}

.primary-button {
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 50px;
}

#banner {
    padding-bottom: 45px;
}

.middle1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 85px;
}

.team-pic {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

#quicklist {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}

#ofour {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

#features {
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;
}
#teampic-text{
    margin-left: 76px;
}
#teampic-text h2{
    margin-bottom: 24px;
}
#teampic-text p{
    margin-bottom: 32px;
    color: #727272;
}